* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
.small-nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  color: #797676;
  font-size: 13px;
  border-bottom: 1px solid lightgray;
}
.small-nav-left > h3 {
  font-weight: 350;
  margin-left: 30px;
  margin-top: 9px;
  margin-bottom: 9px;
}
.small-nav-right > ul {
  display: flex;
  list-style: none;
  margin-right: 35px;
}
.small-nav-right > ul > li {
  color: #797676;
  font-size: 13px;
  font-weight: 250;
  margin: 6px;
  margin-top: 12px;
  cursor: pointer;
}
.small-nav-right > ul > li:hover {
  color: #141414;
}
.medium-nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.medium-nav-left > button {
  margin-left: 50px;
  background-color: #129e9e;
  border: none;
  border-radius: 70px;
  padding: 0 9px;
  height: 50px;
  margin-top: 12px;
}
.medium-nav-left > button:hover {
  background-color: white;
  color: #129e9e;
  border: 1px solid #129e9e;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.medium-nav-right > p {
  margin-right: 50px;
  margin-top: 28px;
}
.medium-nav-right > p:hover {
  color: #797676;
}
.nav {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #129e9e;
  height: 45px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}
.nav-left {
  position: relative;
}
.nav-left > ul {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  list-style: none;
  padding: 10px;
}
.nav-left > ul > li:hover {
  color: #262523;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.nav-left > ul > li {
  padding-right: 17px;
}
.nav-left > ul > li > span {
  font-size: 12px;
}
.nav-right {
  padding-right: 40px;
}
.nav-right:hover {
  color: #262523;
}
.nav-right > li {
  list-style: none;
  padding: 9px;
}
.nav-right > li > span {
  font-size: 20px;
  padding-left: 10px;
  margin-top: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: whitesmoke;
  text-align: left;
  z-index: 10;
}
.modal-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.modal-container > h3 {
  color: #797676;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  padding-top: 30px;
}
.modal-container > input {
  border: none;
  background: whitesmoke;
  color: #1d1e1f;
  border-bottom: 0.2px solid lightgrey;
  height: 30px;
  font-size: 25px;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
.modal-container > button {
  margin-right: 40px;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #797676;
  cursor: pointer;
}
.cat-modal {
  position: absolute;
  width: 100%;
  background: whitesmoke;
  text-align: left;
  visibility: hidden;
  z-index: 10;
}
.cat-modal:hover {
  visibility: visible;

  transition: 3s ease-in-out;
}
.cat-modal-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
.cat-modal-container > h3 {
  color: #1d1e1f;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.categories-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.categories-list > li {
  color: #797676;
  font-size: 14px;
  margin-bottom: 5px;
  width: 250px;
  padding: 2px;
  cursor: pointer;
}
.categories-list > li:hover {
  color: white;
  background-color: #129e9e;
}
.info-suggest {
  background-color: #ffffff;
}
.empty-section {
  height: 30px;
  border-bottom: 1px solid lightgray;
}
.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;

  padding: 20px 50px;
  color: #797676;
  border-bottom: 1px solid lightgray;
}
.info-section {
  display: flex;
  gap: 15px;
  padding-left: 7px;
}
.info-section > i {
  font-size: 30px;
  color: #129e9e;
}
.info-section > p {
  font-size: 13px;
}
.info-section > p > span {
  color: #129e9e;
  font-size: 13px;
}
.footer {
  height: 230px;
  background-color: #141414;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  padding-left: 70px;
}
.footer-section > h1 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}
.footer-section > p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
}
.footer-section > ul > li {
  list-style: none;
  color: #129e9e;
  font-size: 15px;
  padding-bottom: 5px;
  cursor: pointer;
}
.follow-info {
  display: flex;
  cursor: pointer;
}
.follow-info > i {
  color: #ffffff;
  font-size: 17px;
  margin-right: 8px;
  margin-top: 2px;
}
.follow-info > p {
  color: #129e9e;
}
.follow-info > p:hover {
  color: #ffffff;
}
.footer-section > ul > li:hover {
  color: #ffffff;
}
.copyright {
  font-size: 11px;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 0.5px;
  padding-top: 40px;
}
.copyright > p > span {
  color: #129e9e;
  font-weight: 400;
}
.recommened-wrapper {
  background-color: #ffffff;
  color: #141414;
  margin-bottom: 40px;
  border-top: 1px solid lightgray;
}
.recommened-wrapper > h1 {
  color: #129e9e;
  font-size: 20px;
  font-weight: 200;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.recommended-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.recommended-item > h1 {
  margin: 15px 0;
  color: #129e9e;
  font-size: 18px;
  font-weight: 200;
}
.recommended-item > div {
  display: flex;
}
.recommended-item > div > div > i {
  cursor: pointer;
  color: #129e9e;
  font-size: 25px;
  margin: 10px;
}
.recommended-item > p > i {
  color: #129e9e;
}
.restaurant-wrapper {
  background-color: #ffffff;
  color: #141414;
  margin-bottom: 40px;
  border-top: 1px solid lightgray;
}
.restaurant-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.restaurant-item > h1 {
  color: #129e9e;
  font-size: 20px;
  font-weight: 200;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.restaurant-item > div {
  display: flex;
}
.restaurant-item > div > div > i {
  cursor: pointer;
  color: #129e9e;
  font-size: 25px;
  margin: 10px;
}
